{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <div>
                <p><a href="{% url 'create_project' %}">Create project</a></p>
            </div>
            {% if list|length %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Number of Tasks</th>
                    </thead>
                    <tbody>
                        {% for project in list %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                </td>
                                <td>{{ project.tasks.all |length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You are not assigned to any projects</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
